:root {
    --primary-color: rgb(63, 156, 179);
    --sec-color: rgb(23, 38, 40);
  }



  .spaceRow {
    padding: 1rem !important;
  }
  
  @media screen and (min-width: 768px) {
    .spaceRow {
      padding: 3rem !important;
    }
  }

 