.footer {
    background: #fff;
    border-top: 2px solid var(--sec-color);
   
  }

  .row{
    padding: 2rem 2rem;
  }
  .heading {
    color: var(--sec-color) !important;
    text-transform: uppercase;
    

  }
  
  .icons {
    display: flex;
    font-size: 2rem;
  }
  
  .icon {
    margin-right: 1rem;
    color: var(--sec-color);
  }
  
  .icon:hover {
    color: var(--primary-color);
  }
  
  .copyrights {
    background: var(--secondary-color);
    color: #fff;
    font-size: 0.85rem;
    padding: 1.5rem;
    text-align: center;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }

 
  .copyrights {
    background: var(--sec-color);
    color: #fff;
    font-size: 0.85rem;
    padding: 1.5rem;
    text-align: center;
  }