.wrapper{
    background-color: aqua;
    min-width: 100%;
    justify-content: space-between;
    align-items: right;
    text-align: center;
    padding: 20px 0;
    display: flex;
    
}


.link{
    font-size: 14px;
    color: gray;
    padding: 4px;
}