.slider {
    padding: 0;
    margin: 0;
    height: 80vh;
}
.sliderimg {
    width: 100%;
    object-fit: cover;
    height: 46rem;
    opacity: 80%;
  }
 

  .slick-dots li button:before {
    font-size: 188px; /* Change size of the dots */
    color: #ff5733; /* Change color of the dots */
    opacity: 1; /* Make sure dots are fully visible */
  }
  
  /* Customize active dot */
  .slick-dots li.slick-active button:before {
    color: #00ff00; /* Change color of the active dot */
  }
  .slick-dots {
    bottom: 10px; /* Adjust position of dots */
    text-align: center; /* Center the dots */
  }